<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Touch Slider - Range List Fork</title>
    <link rel="stylesheet" href="demo.css" />
    <link rel="stylesheet" href="../dist/rzslider.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="MainCtrl">

    <div class="wrapper">
        <header>
            <h1>AngularJS Touch Slider - Range List Fork</h1>
        </header>

        <article>
            <h2>Min/max slider example with Range List</h2>
            Value: <pre>{{ priceSlider | json }}</pre>

            <input type="text" ng-model="priceSlider.min"/><br/>
            <input type="text" ng-model="priceSlider.max"/><br/>

            <rzslider
                rz-slider-model="priceSlider.min"
                rz-slider-high="priceSlider.max"
                rz-slider-range-list="priceSlider.rangeList"
                rz-slider-step="1"
                rz-slider-translate="translate"
                rz-slider-tpl-url="rzSliderTpl.html"></rzslider>
        </article>


    </div>
</body>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../rzslider.js"></script>
<script>
    var app = angular.module('plunker', ['rzModule']);

    app.controller('MainCtrl', function($scope)
    {
        $scope.priceSlider = {
            min: 1,
            max: 3,
            rangeList: ['0%', '50%', '75%', '90%', '100%' ]
        };

        $scope.translate = function(value)
        {
            return $scope.priceSlider.rangeList[value];
        };

        $scope.slider_data = {value: 1};
    });
</script>

</html>
